###########
# Plugins #
###########
PLUGIN_STORE=memory
PLUGIN_NOTIFIER=console
PLUGIN_EXCHANGE=fake

##########
# SQLITE #
##########
SQLITE_DB_PATH=./.data/db.sqlite3

###################
# KRAKEN EXCHANGE #
###################
KRAKEN_API_KEY=
KRAKEN_API_SECRET=
